.form {
  &__body {
  }

  &__notification {
    color: #fc0321;
    line-height: 1.2;
    margin: 0 0 8px 0;
  }

  &__item {
    display: flex;
    width: 100%;
  }

  &__label {
    min-width: 80px;
    font-size: 17px;
    color: #686f6d;
    line-height: 1.2;
    margin: 10px 10px 0 0;
  }

  &__label-auth {
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 8px 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 20px 0;
  }

  &__input {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 15px;
    color: #2e2f31;
    padding: 10px 14px;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border: 1px solid #2774ac !important;
    }

    &::placeholder {
      color: #acacac;
    }

    &:disabled {
      background: #ebebeb;
      border: 1px solid #ebebeb;
    }

    &_tel {
      &::placeholder {
        color: #2e2f31;
      }
    }
  }

  textarea.form__input {
    cursor: auto;
    height: 210px;
    resize: none;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.2;

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background: #efeef3;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bdbdbd;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #aaaaaa;
    }
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='number'],
  input[type='number']:hover,
  input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
  }

  input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

  input[type='date'] {
    color: #2e2f31;
  }

  &__help {
    a {
      display: inline-block !important;
      font-size: 15px;
      color: #2774ac;
      margin: 8px 0 0 0;
      transition: color 0.25s ease;

      &:hover {
        color: #fc0321;
      }
    }
  }

  &__link-wrap {
    margin: 0 0 14px 0;

    a,
    span {
      display: inline-block;
      margin: 0 0 4px 0;
    }

    span {
      display: inline-block;
      margin: 0 4px 4px 0;
    }
  }

  a {
    display: inline-block;
    color: #2774ac;
    transition: color 0.25s ease;

    &:hover {
      color: #fc0321;
    }
  }

  &__bottom {
  }

  &__terms-wrap {
    display: inline-block;
    margin: 0 0 16px 0;
  }

  &__terms {
    position: relative;
    display: inline-block !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: inherit !important;
    color: #2e2f31 !important;
    padding: 0 !important;
    margin: 0 5px 8px 0 !important;

    span {
      display: inline-block;
      margin: 0 0 0 25px !important;
    }

    &::before {
      top: -2px;
      left: 0;
      width: 17px;
      height: 17px;
      border: 1px solid #2e2f31;
      border-radius: 4px !important;
    }

    &::after {
      top: 6px;
      left: 9px;
      width: 5px;
      height: 9px;
      border-right: 2px solid #4d4d4d;
      border-bottom: 2px solid #4d4d4d;
    }

    &.checkbox-active::before {
      border: 1px solid #2774ac;
      background-color: #2774ac;
    }

    &.checkbox-active::after {
      display: block;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }
  }
}

.form.valid-incorrect .form__label {
  color: #fc0321;
}
.form.valid-incorrect .form__input {
  border: 1px solid #fc0321;
}

@media (max-width: 1024px) {
  .form {
    &__terms {
      border-radius: 0 !important;
      font-size: inherit !important;
      padding: 0 !important;

      &__checkbox {
        &::after {
          top: 22px;
          left: 26px;
        }
      }

      span {
        margin: 0 0 0 25px !important;
      }

      &::before {
        top: -2px !important;
        left: 0 !important;
        width: 17px !important;
        height: 17px !important;
      }

      &::after {
        top: 6px !important;
        left: 9px !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .form {
    &__wrap {
      margin: 0 0 14px 0;
    }

    &__label {
      min-width: 70px;
      font-size: 16px;
      margin: 11px 6px 0 0;
    }

    &__label-auth {
      font-size: 15px;
      margin: 0 0 7px 0;
    }

    &__input {
      font-size: 14px;
    }

    textarea.form__input {
      height: 160px;
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .form {
    &__label {
      min-width: auto;
      font-size: 15px;
      margin: 0 0 4px 0;
    }
  }
}
