.orders {
  .cars-item__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px 6px 4px 0px;
  }
  .cars-item__main-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .order-card__btn-group {
    display: flex;
    align-items: center;
    margin: 0 -4px;
  }

  .order-card__btn-wrap {
    flex: 0 1 50%;
    padding: 0 4px;

    .btn-main, .btn-main-trp {
      display: block;
      width: 100%;
      font-size: 14px;
      padding: 10px 6px !important;
    }
  }

  .orders-btn {
    background: transparent;
    border: 2px solid #00ba29;
    font-size: 20px;
    font-weight: 400;
    color: #00ba29;
    padding: 12px;
    margin: 0 0 16px 0;

    &:hover {
      background: transparent;
      border: 2px solid #00ba29;
      color: #00ba29;
    }
  }

  .orders-btn-wait {
    border: 2px solid #acacac;
    color: #acacac;

    &:hover {
      background: transparent;
      border: 2px solid #acacac;
      color: #acacac;
    }
  }
}

@media (max-width: 1024px) {
  .order-btn:first-child {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .orders {
    .order-card__btn-wrap {
      margin: 0 0 10px 0;

      .btn-main, .btn-main-trp {
        padding: 8px 6px !important;
      }
    }
  }
}

@media (max-width: 670px) {
  .orders {
    .order-card__btn-group {
      flex-wrap: wrap;
    }

    .order-card__btn-wrap {
      flex: 0 1 100%;
    }
  }
}

@media (max-width: 575px) {
  .orders {
    .order-card__btn-group {
      flex-wrap: nowrap;
    }

    .order-card__btn-wrap {
      flex: 0 1 50%;
    }
  }
}

@media (max-width: 352px) {
  .orders {
    .order-card__btn-group {
      flex-wrap: wrap;
    }

    .order-card__btn-wrap {
      flex: 0 1 100%;
    }
  }
}
