.chat-aside {
  position: relative;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__header {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f6f7fb;
    padding: 16px;

    .header-top {
      &__form-btn {
        cursor: default;
        &:hover {
          .icon {
            &__item {
              fill: #919191;
            }
          }
        }
      }
    }
  }

  &__body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: overlay;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    cursor: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      background: #dadada;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #cecece;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: visible;
    cursor: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    &_edit {
      .chat-aside__item-wrap {
        background-color: #f1faff;
      }
    }
  }

  &__link {
    display: block;
    padding: 0 20px;
    color: #2e2f31;
    transition: color 0.1s linear, background-color 0.1s linear;

    &:hover {
      background-color: #f1faff;
      color: #009ef7;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__photo {
    display: block;
    width: 42px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    // background: url('../img') center/cover no-repeat;
    margin: 0 15px 0 0;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }

  &__username-wrap {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    overflow: hidden !important;
  }

  &__username {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
    transition: color 0.1s linear;
  }

  // &__date {
  //   display: inline-block;
  //   font-size: 12px;
  //   font-weight: 300;
  //   color: #2e2f31;
  //   padding: 0 0 0 14px;
  //   transition: color 0.1s linear;
  // }
}

@media (max-width: 1200px) {
  .chat-aside {
    width: 330px;
    min-width: 330px;
    max-width: 330px;
  }
}

@media (max-width: 991px) {
  .chat-aside {
    min-width: 100%;
    border: none;

    &__body {
      visibility: visible;
    }

    &__header {
      max-width: 100%;
      padding: 10px 20px 16px 20px;

      .header-top__form {
        margin: 0;
      }
    }

    &__photo {
      width: 38px;
      height: 38px;
      min-width: 38px;
      min-height: 38px;
      max-width: 38px;
      max-height: 38px;
      margin: 0 12px 0 0;
    }

    &__username {
      font-size: 15px;
      padding: 18px 0;
    }
  }
}

@media (min-width: 1280px) {
  .chat-aside {
    &__body {
      visibility: hidden;

      &:hover,
      &:focus {
        visibility: visible;
      }
    }
  }
}
