.header-bottom {
  background-color: #fff;
  padding: 10px 0;

  &__list {
  }

  &__item {
    margin: 0 35px 0 0;

    &:last-child {
      margin: 0;
    }

    &:first-child a {
      padding-left: 0;
      font-weight: 400;
    }

    a {
      display: inline-block;
      font-weight: 300;
      color: #000;
      padding: 3px;
      transition: color 0.1s linear;

      &:hover {
        color: #2774ac;
      }
    }
  }

  &__region {
  }
}
.header-region {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    background: none;
    color: #2774ac;
    transition: color 0.1s linear;

    &:hover {
      color: #fc0321;
    }

    &:hover .icon__item {
      fill: #fc0321;
    }

    & .icon {
      position: relative;
      top: -3px;
      width: 14px;
      height: 14px;
      margin: 0 8px 0 0;
    }
  }

  &__btn-region {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__popup {
  }
}
.region-popup {
  position: absolute;
  z-index: 1000;
  top: 24px;
  left: 32px;
  display: block;
  width: 380px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 #0000001a;

  &__form {
    width: 100%;
    padding: 20px 15px;
  }

  &__form-wrap {
    position: relative;

    input {
      display: block;
      width: 100%;
      background: #efeef3;
      border: 1px solid #efeef3;
      border-radius: 8px;
      font-size: 15px;
      padding: 18px 48px 6px 20px;
      transition: border 0.1s linear;

      &::placeholder {
        color: #919191;
      }

      &:focus {
        border: 1px solid #2774ac;
      }
    }

    &::after {
      content: 'Регион, город';
      position: absolute;
      z-index: 5;
      display: inline-block;
      top: 0;
      left: 21px;
      width: 100%;
      font-size: 15px;
      color: #909090;
      pointer-events: none;
      cursor: default;
      transform: translateY(15px);
    }

    &.placeholder-top::after {
      font-size: 12px;
      transform: translateY(6px);
    }
  }

  &__form-btn {
    position: absolute;
    z-index: 10;
    display: block;
    top: 0;
    right: 0;
    background: none;
    padding: 44px 46px 0px 0px;

    &:hover .icon__item {
      fill: #2774ac;
    }

    & .icon {
      position: absolute;
      top: 13px;
      right: 20px;
      fill: #2774ac;
      width: 18px;
      height: 18px;
    }

    & .icon__item {
      fill: #919191;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 281px;
    overflow-y: auto;
    cursor: pointer;

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background: #efeef3;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bdbdbd;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #aaaaaa;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 53px;
    border-bottom: 1px solid #0000001a;
    padding: 5px 15px;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #eaf4ff;
    }
  }

  &__content {
  }

  &__region {
    font-size: 15px;
    margin: 0 0 2px 0;
  }

  &__parent-region {
    font-size: 13px;
    font-weight: 300;
  }
}

@media (max-width: 1434px) {
  /* Header
  ===================*/
  .region-popup {
    left: auto;
  }
}

@media (max-width: 1023px) {
  /* Header
  ===================*/
  .header-bottom {
    padding: 9px 0;

    &__item {
      margin: 0 15px 0 0;

      a {
        font-size: 13px;
      }
    }
  }
  .header-region {
    &__btn {
      & .icon {
        position: relative;
        top: -1px;
        width: 15px;
        height: 15px;
        margin: 0 4px 0 0;
      }
    }

    &__btn-region {
      font-size: 13px;
      max-width: 90px;
    }
  }
  .region-popup {
    top: 22px;
    width: 300px;

    &__form {
      padding: 16px 12px;
    }

    &__form-wrap {
      input {
        font-size: 14px;
        padding: 16px 38px 5px 15px;
      }

      &::after {
        left: 16px;
        font-size: 14px;
        transform: translateY(13px);
      }

      &.placeholder-top::after {
        transform: translateY(5px);
      }
    }

    &__form-btn {
      padding: 39px 38px 0px 0px;

      & .icon {
        top: 12px;
        right: 15px;
        width: 16px;
        height: 16px;
      }
    }

    &__list {
      max-height: 220px;

      &::-webkit-scrollbar {
        width: 12px;
      }
    }
  }
}

@media (max-width: 575px) {
  /* Header
  ===================*/
  .header-bottom {
    &__list {
      flex-wrap: wrap;
    }

    &__item {
      margin: 0 15px 0 0;
    }
  }
  .header-region {
    &__btn-region {
      max-width: 100%;
    }
  }
}
