.search {
  &__body {
    background: #f6f7fb;
    border-radius: 20px;
    padding: 60px 60px 50px 60px;
  }

  &__title {
    margin: 0 0 25px 0;
  }

  &__subtitle {
    margin: 0 0 32px 0;
  }

  &__form {
  }

  &__title-sm {
    font-size: 30px;
    font-weight: 500;
    color: #2e2f31;
    margin: 0 0 32px 0;
  }
}
.search-form {
  &__tariffs {
  }

  &__additional {
  }

  &__input {
    display: block;
    width: 100%;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px 20px;
    -webkit-appearance: none;

    &::placeholder {
      color: #acacac;
    }

    &:focus {
      border: 1px solid #2774ac;
    }
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='number'],
  input[type='number']:hover,
  input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
  }

  &__btn {
    display: block;
    width: 100%;
  }

  &__btn:not(:first-child) {
    margin: 0 0 0 30px;
  }
}
.search-tariffs {
  margin: 0 -11px;
  margin: 0 0 35px 0;

  &__item {
    position: relative;
    padding: 0 11px;
    margin: 0 0 25px 0;
  }

  &__checkbox {
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;

    border: 2px solid #2774ac;
    border-radius: 20px;
    font-size: 18px;
    color: #2e2f31;
    padding: 25px;

    input {
      display: none;
    }

    span {
      display: inline-block;
      margin: 0 0 0 50px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 24px;
      left: 25px;
      z-index: 1;
      width: 20px;
      height: 20px;
      border: 2px solid #2774ac;
      border-radius: 5px;
    }

    &::after {
      content: '';
      display: none;
      position: absolute;
      top: 32px;
      left: 35px;
      z-index: 1;
      width: 7px;
      height: 12px;
      border-right: 3px solid #4d4d4d;
      border-bottom: 3px solid #4d4d4d;
      box-sizing: border-box;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &.checkbox-active::before {
      border: 1px solid #2774ac;
      background-color: #2774ac;
    }

    &.checkbox-active::after {
      display: block;
      border-right: 3px solid #fff;
      border-bottom: 3px solid #fff;
    }
  }
}
.search-additional {
  margin: 0 -15px;

  &__item {
    position: relative;
    padding: 0 15px;
  }

  &__select {
    color: #686f6d;
    cursor: pointer;
    padding: 16.5px 20px;
    margin: 0 0 25px 0;
  }

  &__option {
  }

  &__price {
    p {
      font-size: 16px;
      color: #686f6d;
      margin: 0 26px 0 0;
    }

    span {
      display: inline-block;
      height: 1px;
      min-width: 11px;
      background: #000;
      margin: 0 10px;
    }

    input {
      display: inline-block;
      max-width: 157px;
    }
  }
}
.select-wrap {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 23px;
    right: 32px;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-right: 2px solid #2774ac;
    border-bottom: 2px solid #2774ac;
    box-sizing: border-box;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.option-hide {
  display: none;
}
