.header-top {
  background-color: #fff;
  padding: 22px 0;

  &.header-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    min-width: 100%;
    box-shadow: 0 -4px 30px 0 #0000001a;
    padding: 12px 0;
  }

  &__logo {
    display: block;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    color: #000;

    &:hover {
      color: #000;
    }

    &::first-letter {
      color: #fc0321;
    }
  }

  &__form {
    width: 100%;
  }

  &__form-wrap {
    position: relative;

    input {
      display: block;
      width: 100%;
      background: #efeef3;
      border: 1px solid #efeef3;
      border-radius: 8px;
      font-size: 15px;
      padding: 8px 48px 8px 20px;
      transition: border 0.1s linear;

      &::placeholder {
        color: #919191;
      }

      &:focus {
        border: 1px solid #cecece;
      }
    }
  }

  &__form-btn {
  }

  &__form-btn {
    position: absolute;
    z-index: 10;
    display: block;
    top: 0;
    right: 0;
    background: none;
    padding: 36px 46px 0px 0px;

    &:hover .icon__item {
      fill: #2774ac;
    }

    & .icon {
      position: absolute;
      top: 9px;
      right: 20px;
      fill: #2774ac;
      width: 18px;
      height: 18px;
    }

    & .icon__item {
      fill: #919191;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__item {
    margin: 0 0 0 27px;

    &:first-child {
      margin: 0;
    }

    &:last-child .header-top__link {
      padding: 0 5px 0 0;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;

    &:hover .icon__item {
      fill: #2774ac;
    }
    &:hover span {
      color: #2774ac;
    }

    .icon {
      width: 21px;
      height: 21px;
      margin: 0 0 8px 0;

      &__item {
        fill: #000;
      }
      &:hover &__item {
        fill: #000;
      }
    }

    span {
      display: inline-block;
      font-size: 14px;
      color: #000;
      transition: color 0.1s linear;
    }
  }
}

.nav-button {
  background: none;
  padding: 5px;
  margin: 0 -5px 0 0;
  transition: opacity 0.1s linear;
}
.nav-anim {
  position: relative;
  top: 0px;
  width: 20px;
  height: 14px;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav-anim span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-anim span {
  background: #fc0321;
}
.nav-anim span:nth-child(1) {
  top: 0px;
}
.nav-anim span:nth-child(2),
.nav-anim span:nth-child(3) {
  top: 6px;
}
.nav-anim span:nth-child(4) {
  top: 12px;
}
.nav-anim.open-nav span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}
.nav-anim.open-nav span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-anim.open-nav span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-anim.open-nav span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

@media (max-width: 1023px) {
  /* Header
  ===================*/
  .header-top {
    padding: 18px 0;

    &__logo {
      font-size: 23px;
    }

    &__form-wrap {
      input {
        font-size: 14px;
        padding: 8px 38px 8px 15px;
      }
    }

    &__form-btn {
      padding: 34px 38px 0px 0px;

      & .icon {
        top: 9px;
        right: 15px;
        width: 16px;
        height: 16px;
      }
    }

    &__item {
      margin: 0 0 0 20px;
    }

    &__link {
      .icon {
        width: 19px;
        height: 19px;
        margin: 0 0 6px 0;
      }

      span {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 991px) {
  .header-top {
    &__logo {
      font-size: 28px;
    }

    &__form {
      margin: 0 0 22px 0;
    }
  }
}

@media (max-width: 767px) {
  .header-top {
    &__list {
      justify-content: start;
      margin: 20px 0 0 0;
    }
  }
}
