.carpark-intro {
  &__action {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
  }

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -2px -2px 6px rgb(0 0 0 / 3%), 2px 2px 6px rgb(0 0 0 / 3%);

    &:hover {
      .icon {
        .icon__item {
          stroke: #2774ac;
        }
      }
    }

    .icon {
      position: relative;
      top: 1px;
      width: 21px;
      height: 21px;

      .icon__item {
        fill: #2e2f31;
      }
    }

    .icon-heart {
      .icon__item {
        fill: none;
        stroke: #2e2f31;
      }
    }
  }

  .carpark-fav {
    &:hover {
      .icon-heart {
        .icon__item {
          stroke: #2774ac;
          fill: #2774ac;
        }
      }
    }

    .icon-heart {
      .icon__item {
        fill: #fc0321;
        stroke: #fc0321;
      }
    }
  }
}

@media (max-width: 1024px) {
  .carpark-intro {
    &__action-btn {
      width: 32px;
      height: 32px;

      &:hover {
        .icon {
          .icon__item {
            stroke: #fc0321;
          }
        }
      }

      .icon {
        width: 18px;
        height: 18px;
      }
    }
    .carpark-fav {
      &:hover {
        .icon-heart {
          .icon__item {
            stroke: #fc0321;
            fill: #fc0321;
          }
        }
      }
    }
  }
}
